{% extends 'base.html' %}
{% load static%}

{% block content %}

<section class="blog-banner-area" id="category">
    <div class="container h-25">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
        </ol>
      </nav>
            </div>
        </div>
</div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->		  
<section class="section-margin--small mb-5">
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-5">
      <div class="sidebar-categories">
        <div class="head">Browse Categories</div>
        <ul class="main-categories">
          <li class="common-filter">
            <form action="#">
              <ul>
                <a href="{% url 'store' %}"><li class="filter-list"><input class="pixel-radio" >All Products</li></a><br>
                {% for category in links%}
                <a href="{{category.get_url}}"><li class="filter-list"><input class="pixel-radio" >{{category.category_name}}</li></a><br>
                {% endfor %}
              </ul>
            </form>
          </li>
        </ul>
      </div>
    </div>
     
    <div class="col-xl-9 col-lg-8 col-md-7">
      
      <div class="filter-bar d-flex flex-wrap align-items-center">
        <div class="sorting">
          <select>
            <option value="1">Default sorting</option>
            <option value="1">Default sorting</option>
            <option value="1">Default sorting</option>
          </select>
        </div>
        <div class="sorting mr-auto">
          <select>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
            <option value="1">Show 12</option>
          </select>
        </div>
        <div>
          <div class="input-group filter-bar-search">
            <input type="text" placeholder="Search">
            <div class="input-group-append">
              <button type="button"><i class="ti-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    
      <!-- End Filter Bar -->
      <!-- Start Best Seller -->
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          {% for product in products%}
          <div class="col-md-6 col-lg-4">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="{{product.images.url}}" alt="">
                <ul class="card-product__imgOverlay">
                  <li><button><i class="ti-search"></i></button></li>
                  <li><button><i class="ti-shopping-cart"></i></button></li>
                  <li><button><i class="ti-heart"></i></button></li>
                </ul>
              </div>
              <div class="card-body">
                <p>{{product.category}}</p>
                <h4 class="card-product__title"><a href="{{product.get_url}}">{{product.product_name}}</a></h4>
                <p class="card-product__price">${{product.price}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
      <!-- End Best Seller -->
    </div>
  </div>
</div>
</section>
<!-- ================ category section end ================= -->		  

<!-- ================ top product area start ================= -->	
<section class="related-product-area section-margin--small mt-0">
  <div class="container">
    <div class="section-intro pb-60px">
      <p>Popular Items in the market</p>
      <h2>Top <span class="section-intro__style">Products</span></h2>
    </div>
    <div class="row mt-30">

      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    {% for product in products_set_1%}
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="{{product.get_url}}"><img src="{{product.images.url}}" alt=""></a>
            <div class="desc">
                <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                <div class="price">${{product.price}}</div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>
  

      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    {% for product in products_set_2%}
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="{{product.get_url}}"><img src="{{product.images.url}}" alt=""></a>
            <div class="desc">
                <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                <div class="price">${{product.price}}</div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>

  
      <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    {% for product in products_set_3%}
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="{{product.get_url}}"><img src="{{product.images.url}}" alt=""></a>
            <div class="desc">
                <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                <div class="price">${{product.price}}</div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>

  <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
    {% for product in products_set_4%}
        <div class="single-search-product-wrapper">
          <div class="single-search-product d-flex">
            <a href="{{product.get_url}}"><img src="{{product.images.url}}" alt=""></a>
            <div class="desc">
                <a href="{{product.get_url}}" class="title">{{product.product_name}}</a>
                <div class="price">${{product.price}}</div>
            </div>
          </div>
        </div>
    {% endfor %}
      </div>

    
    </div>
  </div>
</section>
       
{% endblock %}